.deps/
.dirstamp
*.o
test
/INSTALL
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/depcomp
/install-sh
/missing
/stamp-h?
.*.swp
tags
ideapad-server
ideapad-client
